
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/g1.jpg'); 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    color: #333;
}


header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 10px;
    position: relative;
}

.header-logo {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 300px;
    height: 100px;
}

.site-title {
    position: absolute;
    top: 55px;
    left: 30px;
    font-size: 12px;
    color: white;
}


nav{
	display:flex;
	justify-content: space-evenly;
	margin-left:200px;
}
nav ul {
    text-decoration:none;
    color:black;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}
ul:visited{
color:transparent;
text-decoration-none;
}
a{
    color: white;
    text-decoration: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, font-size 0.3s; 
}

nav ul li a:hover {
    color: #ff6347; 
    font-size: 18px; 
}


.step-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px;
    justify-content: flex-start; 
}

.step-block {
    background-color: rgba(255, 255, 255, 0.8); 
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    padding: 24.7px !important;
    max-width: 650px;
    min-width: 250px;
    text-align: center;
	
}



  
		
		

.step-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center; 
}

.step-block {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    text-align: center; 
}


.new-text {
    display: none;
}


#toggleText:checked ~ .step-container .step-block .default-text {
    display: none;
}

#toggleText:checked ~ .step-container .step-block .new-text {
    display: block;
}


.change-text-btn {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.change-text-btn:hover {
    background-color: #0056b3;
}

main{
		flex: 1;
	}
	
  
footer {
            text-align: center;
            color: white;
            padding: 15px;
            background: rgba(0, 0, 0, 0.5); 
			position: 520px; 
			bottom:23px;
		
        }
		
		


}

.lang-switch a:hover {
    color: orange; 
}


}



.language-switch {
   
	 position: relative;
    transform: translate(500px, -20px); 
}


.language-switch a {
    text-decoration: none; 
    margin: 5px; 
    padding: 8px 11px; 
    border: 1px solid black; 
    border-radius: 5px; 
    color: white; 
   
	 font-weight: bold;
     background-color: rgba(0, 0, 0, 0.6); 
	
}


